<% if flash.error %>
  <div id='flash_error'>
    <%= flash.error %>
  </div>
<% end %>

<% if flash.notice %>
  <div id='flash_notice'>
    <%= flash.notice %>
  </div>
<% end %>

<% if flash.attack %>
  <div id='flash_attack'>
    <%= flash.attack %>
  </div>
<% end %>

<% flash.flag! && flash.sweep! if request.xhr? %>