<div id='transaction' style='display:none;'>
  <div id='transaction_details'></div>
  <div id='transaction_fields' class='fields_box'>
    <input type="hidden" value="" id="transaction_id" />
    <input type="hidden" value="" id="transaction_type" />
    <input type="hidden" value="" id="transaction_is_product">
    <input type="text" name="quantity" value="0" id="transaction_quantity" class='text' maxlength='5' size='5'><br/>
    <input type="submit" id='transaction_submit' value="Ok! &rarr;">
  </div>
</div>
