<div id='instructions'>
  <h1 align='center'>You're now connected to OfficeWars via Facebook Connect!</h1>
  <p align='center'>Thats awesome! Now your OfficeWars scores will be posted on your wall so you can brag to all your friends :)</p>
  
  <h3 align='center'><%= link_to 'Back to the Game', url_for('/location/%d' % @player.location_id) %></h3>
</div>