<div id='instructions'>
  <h1>How to Play OfficeWars</h1>
  <p>In OfficeWars your are in a rat race to become the most powerful office supply trader in the world! The goal of the game is to comfortably retire with your massive stockpiles of office supplies... unfortunately, office snitches are trying to stand in your way and it is your job to destroy them!</p>
  <p>OfficeWars offers 2 different play dynamics. You can become a big shot off trading alone, or you can battle your way through the bosses to acquire elite loot and make the really big sales.</p>
  
  <br/>
  <h2 align='center'><%= link_to 'Start Playing OfficeWars Now!', url_for('/login') %></h2>
  
  <% if options.facebook %>
    <h2>Facebook Connect</h2>
    <p><strong>NEW!</strong> OfficeWars is now able to connect with <strong>Facebook</strong> and post your score for your friends to see! More integration is planned for upcoming releases, so if you have an idea feel free to pass it along!</p>
    <p>To connect your player account to Facebook, just click on the <%= image_tag 'facebook-connect.png' %> when you see it, either while playing the game, or while logging in.</p>
  <% end %>

  <h2>Trading</h2>
  <p>The office is divided into different locations, each offering a list of available office products -- at fluctuating prices --   and company services. Daily events naturally happen in the work-o-sphere which can affect the price of supplies, so make sure to keep an eye out for them.</p>
  <p>The main way to make money in office wars is to buy and sell office supplies, making sure to buy cheap and sell high. Once you have stocked up at a location you will then have to move around until you find a location which offers a nice profit. Purchase wisely as you have a finite amount of space. (More space can be purchased at specialty shops, or obtained as rare drops from bosses).</p>

  <h2>Where and What are the Specialty Shops?</h2>
  <p>The office environment changes rapidly, so when you are just starting out try to hit each location once and take a mental note of where things are.<p>
  <h3>The office is equipped with these specialty shops:</h3>
  <ul>
    <li><strong>The Company Gift Shop</strong> &mdash; You can find a whole bunch of company branded items here! You basically want to shop here for extra, fashionable, storage space. You can find the gift shop in the <strong>Lobby</strong></li> 
    <li><strong>The Company Nurse</strong> &mdash; After a nasty encounter with an office baddie you will likely need some tender healing courtesy of the company nurse. She can patch you up and boost your chi force. She is located in the <strong>Lobby</strong>.<li>
    <li><strong>Corporate Survival Shop</strong> &mdash; The corporate survival shop is tasked with making sure you can make it through your daily routine as effectively as possible. Staffed by combat/bear expert Dwight Schrute, you are sure to be the most badass corporate drone this side of the Mississippi! Dwight and his survival shop are located on the <strong>Roof</strong>.</li>
  </ul>
  
  <h2>Your Finances</h2>
  <p>On your first day you are given a not-so-generous loan by bossman Lumbergh. He expects to be paid back before your first month of service is over (plus interest!), so make sure you stop by the <strong>Parking Lot</strong> to pay him back as soon as you can. He is also available should you need some extra cash, but for a price!</p>
  <p>Once you are comfortably making money, it might be a wise idea to deposit some into the <strong>ATM Machine</strong> located in the <strong>Parking Lot</strong>. You will earn a little bit of interest by doing so.</p>
  
  <h2>Office Warfare</h2>
  <p>While lugging loot from one location to another you will often times encounter a snitch, who must be destroyed! If you are feeling up to the task at hand, you can <strong>attack</strong> or be a coward and <strong>run away</strong>. If you win the fight you will be rewarded handsomely, depending on the difficulty of the foe. If you die, well... game over.</p>
  <p>Office Wars offers 2 different playing strategies: <strong>the trader</strong> and <strong>the warrior</strong>. If you would like to focus on your trading skills then don't purchase any weapon upgrades from Dwight. If, however, you want to go for the gold and battle your way up to a warrior you must begin to upgrade your defenses and strength. Once you make a weapon upgrade you will automatically start battling your way through increasingly difficult foes and bosses. Once you reach King Blake and win, you are on track to be the most ruthless office supply trader ever!</p>

  <h2>Having Fun!</h2>
  <p>Want to have a little fun and taunt your fellow traders? Try leaving a message on the <strong>Message Board</strong> located in the company <strong>Cafeteria</strong>! It will cost you, but your legacy will live on long after you've retired or been squashed!</p>
  
  <br/>
  <h2 align='center'><%= link_to 'Start Playing OfficeWars Now!', url_for('/login') %></h2>
</div>
