body{
  margin:0;
  font:14px/20px helvetica, tahoma,arial,sans-serif;
  }

h1, h2, h3, h4, h5, h6 {
	font:bold 13px/16px helvetica,arial,freesans,clean,sans-serif;
	color:#000;
	margin:10px 0;
	}
	h1 {font-size:200%;}
	h2 {font-size:180%;line-height:90%;}
	h3 {
	  font-size:130%; 
	  color:#000;
	  margin:15px 0;
	  line-height:20px;
	  }
	h4 {font-size:110%;}
	h5 {font-size:100%;}
	h6 {font-size:90%; margin:0; padding:0;}

img{ border:0; }

p{ margin:10px 0; }

a{
	color:#648D39;
	text-decoration:none;
	outline:none;
	}
a:hover{
	text-decoration:underline;
	}

hr{
  height:2px;
  background:#eee;
  border:0;
  margin:-20px 0 30px; /* even up from the 50px bottom margin on posts and make a 30px sep */
  }
  
pre{
  overflow:auto;
  border:1px solid #ddd;
  background:#fafafa;
  padding:5px;
  }

ul{
  margin:5px 0;
  padding:0;
  list-style:none;
  }

blockquote{
  background:url(../images/icons/quote.gif) no-repeat 0 0;
  margin:0;
  padding-left:30px;
  }
  blockquote p{
    font-size:16px;
    }
  blockquote small{
    display:block;
    text-align:right;
    color:#555;
    }

/* Global Support */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.left{ 	float:left;		}
.right{ float:right;	}
.center{ margin:0 auto; }
.indent{ margin-left:20px; }

#page_wrapper{
  margin:10px auto;
  width:950px;
  }
  #header{
    text-align:center;
    border-bottom:2px solid #ddd;
    margin-bottom:40px;
    }
    #header h1{
      line-height:200%;
      color:#648D39;
      }

#login_notes{
  float:right;
  width:40%;
  border:2px solid #ddd;
  background:#fafafa;
  padding:20px;
  margin:20px 0;
  }

#login_form{
  float:left;
  width:50%;
  border:2px solid #ddd;
  background:#fafafa;
  padding:20px;
  margin:20px 0;
  }
  #login_form p{
    }
    #login_form p label{
      float:left;
      width:20%;
      font-weight:bold;
      }
    #login_form .text{
      width:98%;
      line-height:24px;
      text-align:left;
      }
    #login_form p#new_user_box{
      background:#ccc;
      padding:10px;
      border:1px solid #ddd;
      }
  
.block{
  border:1px solid #ccc;
  padding:0 10px;
  float:left;
  margin-right:10px;
  }
  #locations{
    width:125px;
    }
  #player{
    width:150px;
    float:right;
    margin-right:0;
    }
  #products,
  #store,
  #bank,
  #loans,
  #bulletins{
    width:585px;
    padding-bottom:15px;
    }
    .product_table{
      width:49%;
      }
      .product_table select{
        width:98%;
        height:150px;
        font-size:14px;
        }

#bulletin_list{
  margin-top:30px;
  }  
  .bulletin{
    margin:5px 0;
    }

.event{
	background: #CBC9FF;
	border: 1px solid #7774B2;
	padding: 10px;
	color: #234774;
	margin-bottom: 10px;
	font-size:14px;
	line-height:20px;
  }

#transaction{
  margin:10px 0;
  }
  #transaction_details{
    text-align:center;
    color:#555;
    font-size:14px;
    }
  .fields_box{
    width:100px;
    background:#fafafa;
    border:1px solid #ddd;
    margin:10px auto;
    padding:10px;
    text-align:center;
    }
    .text{
      border:2px solid #ddd;
      padding:3px;
      font-size:20px;
      text-align:center;
      }

fieldset{
  background:#fafafa;
  border:1px solid #ddd;
  margin:10px auto;
  padding:10px;
  }
  textarea{
    border:1px solid #ddd;
    padding:5px;
    font-size:16px;
    }
  .full_width{
    width:98%;
    }
      
ul.locations{
  }
  ul.locations li{
    margin:5px 0;
    }
    ul.locations li a{
      padding:4px;
      }
    ul.locations li span.current{
      background:#648D39;
      color:white;
      padding:4px;
      font-size:18px;
      }

#arena{
  width:80%;
  padding:10px;
  margin:30px auto;
  border:2px solid #ddd;
  background:#fafafa;
  }
  .fight_box{
    width:48%;
    text-align:center;
    }
  #fight_controls{
    margin-top:30px;
    text-align:center;
    }
    
#high_scores{
  margin-top:40px;
  width:100%;
  }
  #high_scores th{
    font-size:12px;
    border-bottom:2px solid #ddd;
    padding:5px;
    text-align:left;
    }
  #high_scores td{
    padding:5px;
    color:#444;
    }
    
#footer{
  margin-top:40px;
  text-align:center;
  color:#888;
  }
  #footer a{
    color:#555;
    }

/* LI Icons */

.icon{
  padding-left:25px;
  background-repeat: no-repeat;
  background-position: left top;
  margin-bottom:5px;
  }
  .user{ background-image: url(../images/icons/user.png); }
  .facebook{ background-image: url(../images/icons/facebook.png); }
  .life-full,
  .life{ background-image: url(../images/icons/life-full.png); }
  .life-half{ background-image: url(../images/icons/life-half.png); }
  .life-empty{ background-image: url(../images/icons/life-empty.png); }
  .bookie-happy{ background-image:url(../images/icons/bookie-happy.png); }
  .bookie-annoyed{ background-image:url(../images/icons/bookie-annoyed.png); }
  .bookie-pissed{ background-image:url(../images/icons/bookie-pissed.png); }
  .bookie-angry{ background-image:url(../images/icons/bookie-angry.png); }
  .money{ background-image: url(../images/icons/money.png); }
  .bank{ background-image: url(../images/icons/bank.png); }
  .space{ background-image: url(../images/icons/space.png); }
  .debt{ background-image: url(../images/icons/debt.png); }
  .defense{ background-image: url(../images/icons/defense.png); }
  .strength{ background-image: url(../images/icons/strength.png); }

/* Components */

#flash_notice,
.success {
	background: #e2fad6 url(../images/icons/accept.png) no-repeat 10px 10px;
	border: 1px solid #91db6c;
	padding: 10px;
	padding-left: 35px;
	color: #404040;
	margin-bottom: 10px;
	font-size:14px;
	line-height:20px;
}
#flash_attack{
  background: #eee url(../images/icons/attack.png) no-repeat 10px 10px;
	border: 1px solid #ddd;
	padding: 10px;
	padding-left: 55px;
	color: #711C1C;
	margin-bottom: 10px;
	font-size:17px;
	line-height:26px;
  }
  #flash_error strong{
    color: #9E2727;
    }
#flash_error,
.error{
	background: #fae1d6 url(../images/icons/exclamation.png) no-repeat 10px 10px;
	border: 1px solid #f59b73;
	padding: 10px;
	padding-left: 35px;
	color: #404040;
	margin-bottom: 10px;
	font-size:14px;
	line-height:20px;
}
.help {
	background: #eaf0f6 url(../images/icons/help.png) no-repeat 10px 10px;
	border: 1px solid #bcc6d0;
	padding: 10px;
	padding-left: 35px;
	color: #404040;
	margin-bottom: 10px;
	font-size:14px;
	line-height:20px;
}
.tip {
	background: #fafad6 url(../images/icons/wand.png) no-repeat 10px 10px;
	border: 1px solid #f6d87d;
	padding: 10px;
	padding-left: 35px;
	color: #404040;
	margin-bottom: 10px;
	font-size:14px;
	line-height:20px;
}

/* jQuery Loading */

.loading-masked{
  overflow: hidden; 
  }

.loading-mask{
  background:#000 !important;
  opacity: 0.65 !important;
  -moz-opacity: 0.65 ;
  filter:alpha(opacity=65 0.65 );
  }

/* Instructions */

#instructions{
  }
  #instructions h1,
  #instructions h2{
    margin:20px 0;
    }
  #instructions ul{
    margin:20px 0 20px 30px;
    }
  #instructions p,
  #instructions li{
    margin:10px 0;
    font-size:16px;
    line-height:24px;
    color:#494949;
    }
  #instructions strong{
    color:#000;
    }